@charset "utf-8";
/* CSS Document */
#nav {
	width: 75%; 
	height: 190px;
	color:crimson;
	font-weight:800;
		background-repeat: no-repeat;
	background-position:center;
}

#form-link {
}
#styles-link {
}
#benefits-link {
}
